<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>F7A833AF6AFC5E8DE7F01910C221711D</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
